[Channel]
Contrat = 
ContratPatron = 
LogContrat  = 
Home = 
RapportFailyV = 
Compta = 

[Role]
Patron = 
BotFailyV = 

[Discord]
Token =  
GuildID = 

[Form]
URL = 
Date = 
User = 
Reason = 
Contract = 
Amount = 
Source = 
Details = 

[Panel]
Login = 
Password = 